In [1]:
import numpy as np 
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('datasets - datasets.csv')

In [3]:
df.head()

  CropType  CropDays  SoilMoisture  temperature  Humidity  Irrigation
0    Wheat        10           400           30        15           0
1    Wheat         7           200           30        32           0
2    Wheat         9           300           21        28           0
3    Wheat         3           500           40        22           0
4    Wheat         2           700           23        34           0

In [4]:
df.corr()

C:\Users\Windows 11\AppData\Local\Temp\ipykernel_13792\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

              CropDays  SoilMoisture  temperature  Humidity  Irrigation
CropDays      1.000000      0.143137     0.067895 -0.062217   -0.091861
SoilMoisture  0.143137      1.000000     0.086820 -0.236571    0.690537
temperature   0.067895      0.086820     1.000000 -0.350852    0.102169
Humidity     -0.062217     -0.236571    -0.350852  1.000000   -0.190810
Irrigation   -0.091861      0.690537     0.102169 -0.190810    1.000000

In [5]:
df.cov()

C:\Users\Windows 11\AppData\Local\Temp\ipykernel_13792\1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                 CropDays  SoilMoisture  temperature     Humidity  Irrigation
CropDays      2110.075090   1309.094874    37.773138   -64.642587   -2.063234
SoilMoisture  1309.094874  39640.646643   209.358407 -1065.343445   67.223860
temperature     37.773138    209.358407   146.689078   -96.112766    0.605042
Humidity       -64.642587  -1065.343445   -96.112766   511.584367   -2.110208
Irrigation      -2.063234     67.223860     0.605042    -2.110208    0.239074

In [7]:
df['CropType'].unique()

array(['Wheat', 'Groundnuts', 'Garden Flowers', 'Maize', 'Paddy',
       'Potato', 'Pulse', 'Sugarcane', 'Coffee'], dtype=object)